@{
    ViewData["Title"] = "Home Page";
}
<!-- BANNER SECTION START HERE -->
<!-- BANNER SECTION START HERE -->
<section class="banner-main-section w-100 float-left">
    <div class="container-fluid">
        <div class="banner-inner-con" data-aos="fade-up" data-aos-duration="700">
            <div class="banner-left-con">
                <h1>We Provide Safest <span class="d-inline-block">Transport & Logistics</span> Solutions.</h1>
                <p>
                    CargoX provides efficient logistic services
                    through its global network.
                </p>
                <div class="banner-btns">
                    <div class="generic-btn">
                        <a href="contact.html">Get Started</a>
                    </div>
                    <div class="generic-btn read-more-btn">
                        <a href="about.html">Read More</a>
                    </div>
                </div>
                <div class="banner-customers-con">
                    <ul class="list-unstyled mb-0 d-flex">
                        <li>
                            <figure class="mb-0">
                                <img src="/images/customer-img1.jpg" alt="customer-img1">
                            </figure>
                        </li>
                        <li>
                            <figure class="mb-0">
                                <img src="/images/customer-img2.jpg" alt="customer-img2">
                            </figure>
                        </li>
                        <li>
                            <figure class="mb-0">
                                <img src="/images/customer-img3.jpg" alt="customer-img3">
                            </figure>
                        </li>
                        <li>
                            <figure class="mb-0">
                                <img src="/images/customer-img4.jpg" alt="customer-img4">
                            </figure>
                        </li>
                    </ul>
                    <div class="number-of-customers">
                        <span class="d-block">278k+</span>
                        <p class="mb-0">Satisfied Customers</p>
                    </div>
                </div>
            </div>
            <div class="banner-right-con">
                <div class="banner-right-imgs">
                    <figure class="mb-0">
                        <img src="/images/banner-right-img.jpg" alt="banner-right-img">
                    </figure>
                    <figure class="mb-0 banner-right-img-shape">
                        <img src="/images/banner-right-shape.png" alt="banner-right-shape">
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- BANNER SECTION END HERE -->
<!-- INDEX1 SERVICE SECTION START HERE -->
<section class="index1-services-section w-100 float-left padding-top padding-bottom white-bg">
    <div class="container">
        <div class="generic-title text-center" data-aos="fade-up" data-aos-duration="700">
            <span>What We Provide</span>
            <h2>Popular Logistics Services</h2>
        </div>
        <div class="index1-services-inner-con" data-aos="fade-up" data-aos-duration="700">

            <div class="index1-service-con">
                <figure>
                    <img src="/images/index1-service-icon2.png" alt="index1-service-icon2">
                </figure>
                <h3>Ocean Freight</h3>
                <p>
                    Duis aute irure dolor in reae
                    in voluptate velit esse cillum
                    dolore aeu fugiat.
                </p>
                <a href="services-detail.html">Read More <i class="fas fa-arrow-right"></i></a>
            </div>
            <div class="index1-service-con">
                <figure>
                    <img src="/images/index1-service-icon4.png" alt="index1-service-icon4">
                </figure>
                <h3>Warehouse</h3>
                <p>
                    Duis aute irure dolor in reae
                    in voluptate velit esse cillum
                    dolore aeu fugiat.
                </p>
                <a href="services-detail.html">Read More <i class="fas fa-arrow-right"></i></a>
            </div>
        </div>
        <div class="generic-btn" data-aos="fade-up" data-aos-duration="700">
            <a href="services.html">View All</a>
        </div>
    </div>
</section>
<!-- INDEX1 SERVICE SECTION END HERE -->
<!-- INDEX1 ABOUT SECTION START HERE -->
<section class="index1-about-section w-100 float-left">
    <div class="index1-about-inner-con" data-aos="fade-up" data-aos-duration="700">
        <div class="index1-about-left-con">
        </div>
        <div class="index1-about-right-con">
            <div class="generic-title">
                <span>About Us</span>
                <h2>
                    World’s Leading Contract
                    Logistics Provider
                </h2>
            </div>
            <div class="index1-about-detail">
                <p>
                    Duis aute irure dolor in reprehenderit in voluptate
                    esse cillum dolore aeu fugiat reiciendis voluptatibus
                    maiores alias conseuatur.
                </p>
                <ul class="list-unstyled">
                    <li>Reprehenderit in voluptate esse cillum dolore.</li>
                    <li>Aeu fugiat reiciendis voluptatibus maiores alis.</li>
                </ul>
                <div class="generic-btn">
                    <a href="about.html">Read More</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- INDEX1 ABOUT SECTION END HERE -->
<!-- CHOOSE SECTION START HERE -->
<section class="index1-choose-section w-100 float-left padding-top padding-bottom">
    <div class="container">
        <div class="index1-choose-inner-con" data-aos="fade-up" data-aos-duration="700">
            <div class="index1-choose-left-con">
                <div class="generic-title">
                    <span>Why Choose Us</span>
                    <h2>
                        We are Here to Move
                        Anything Anywhere
                    </h2>
                </div>
                <div class="benefits-outer-section">
                    <div class="benefits-con">
                        <figure class="mb-0">
                            <img src="/images/benefits-img1.png" alt="benefits-img1">
                        </figure>
                        <div class="benefits-details-con">
                            <h3>Full Safety</h3>
                            <p>
                                Unwavering security, your cargo arrives worry-free.
                            </p>
                        </div>
                    </div>
                    <div class="benefits-con">
                        <figure class="mb-0">
                            <img src="/images/benefits-img2.png" alt="benefits-img2">
                        </figure>
                        <div class="benefits-details-con">
                            <h3>Tracking</h3>
                            <p>
                                Real-time visibility, stay informed every step of the way.
                            </p>
                        </div>
                    </div>
                    <div class="benefits-con">
                        <figure class="mb-0">
                            <img src="/images/benefits-img3.png" alt="benefits-img3">
                        </figure>
                        <div class="benefits-details-con">
                            <h3>Easy Payment</h3>
                            <p>
                                Seamless transactions, focus on your business, not the bill.
                            </p>
                        </div>
                    </div>
                    <div class="benefits-con">
                        <figure class="mb-0">
                            <img src="/images/benefits-img4.png" alt="benefits-img4">
                        </figure>
                        <div class="benefits-details-con">
                            <h3>Full Support</h3>
                            <p>
                                Dedicated expertise, we're there to answer your questions.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="generic-btn">
                    <a href="shop.html">Get Started</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- CHOOSE SECTION END HERE -->
<!-- PROJECT SLIDER SECTION START HERE -->
<section class="project-slider-section w-100 float-left padding-top white-bg">
    <div class="container">
        <div class="generic-title text-center" data-aos="fade-up" data-aos-duration="700">
            <span>Our Portfolio</span>
            <h2>Latest Project We Have Done</h2>
        </div>
        <div class="project-slider-inner-con" data-aos="fade-up" data-aos-duration="700">
            <div class="owl-carousel owl-theme" id="owl-carousel-portfolio">
                <div class="item">
                    <div class="latest-project-con">
                        <a href="portfolio.html">
                            <div class="project-images-con position-relative">
                                <figure class="mb-0">
                                    <img src="/images/project-img1.jpg" alt="project-img1">
                                </figure>
                                <figure class="arrow-hover-img">
                                    <img src="/images/project-arrow-img.png" alt="project-arrow-img">
                                </figure>
                            </div>
                            <div class="project-details-con">
                                <span>Ocean Freight</span>
                                <h3>
                                    Optimizing Ocean Freight
                                </h3>
                                <p class="mb-0">
                                    Unlocking the Full Potential of Ocean Transportation.
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="latest-project-con">
                        <a href="portfolio.html">
                            <div class="project-images-con position-relative">
                                <figure class="mb-0">
                                    <img src="/images/project-img2.jpg" alt="project-img2">
                                </figure>
                                <figure class="arrow-hover-img">
                                    <img src="/images/project-arrow-img.png" alt="project-arrow-img">
                                </figure>
                            </div>
                            <div class="project-details-con">
                                <span>Warehouse</span>
                                <h3>
                                    Warehouse on hand
                                    inventory
                                </h3>
                                <p class="mb-0">
                                    Optimizing Inventory Levels for Improved Efficiency.
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- PROJECT SLIDER SECTION END HERE -->
<!-- TRACK SECTION START HERE -->
<section class="track-shipment-section w-100 float-left padding-top padding-bottom">
    <div class="container">
        <div class="tracking-outer-con" data-aos="fade-up" data-aos-duration="700">
            <div class="tracking-left-con">
                <div class="generic-title">
                    <span>Shippment Tracking</span>
                    <h2>
                        Track or Calculate Your
                        Shipment With Us
                    </h2>
                </div>
                <p class="mb-0">
                    Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
                    fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem
                    sequi nesciunt nerue porro ruisuam.
                </p>
            </div>
            <div class="tracking-right-con">
                <div class="tracking-code">
                    <h3>
                        Track Your Shipment
                        Now
                    </h3>
                    <input type="text" placeholder="Enter Your Shipment Code">
                    <select name="service" id="service">
                        <option value="service">Select Your Service</option>
                        <option value="warehouse">Warehouse</option>
                        <option value="aircargo">Air Cargo</option>
                        <option value="shipment">Shipment</option>
                    </select>
                    <button type="submit">Track Now</button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- TRACK SECTION END HERE -->
<!-- INDEX1 TEAMS SECTION START HERE -->
<section class="index1-teams-section w-100 float-left padding-top padding-bottom light-bg">
    <div class="container">
        <div class="generic-title text-center" data-aos="fade-up" data-aos-duration="700">
            <span>Team Members</span>
            <h2>Meet The Professionals</h2>
        </div>
        <div class="index1-teams-inner-con" data-aos="fade-up" data-aos-duration="700">
            <div class="index1-team-member-con">
                <figure class="mb-0">
                    <img src="/images/" alt="index1-team-member1">
                </figure>
                <div class="index1-member-detail text-center">
                    <h4>Trần Việt Đức</h4>
                    <span>Manager</span>
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="https://www.facebook.com/login/"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/i/flow/login"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/login"><i class="fab fa-linkedin-in"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="index1-team-member-con">
                <figure class="mb-0">
                    <img src="/images/" alt="index1-team-member2">
                </figure>
                <div class="index1-member-detail text-center">
                    <h4>Nguyễn Thanh Siêu</h4>
                    <span>Manager</span>
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="https://www.facebook.com/login/"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/i/flow/login"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/login"><i class="fab fa-linkedin-in"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="index1-team-member-con">
                <figure class="mb-0">
                    <img src="/images/" alt="index1-team-member3">
                </figure>
                <div class="index1-member-detail text-center">
                    <h4>Pollan Hark</h4>
                    <span>Worker</span>
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="https://www.facebook.com/login/"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/i/flow/login"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/login"><i class="fab fa-linkedin-in"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="index1-team-member-con">
                <figure class="mb-0">
                    <img src="/images/" alt="index1-team-member4">
                </figure>
                <div class="index1-member-detail text-center">
                    <h4>Nerina Arouk</h4>
                    <span>Dealer</span>
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="https://www.facebook.com/login/"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/i/flow/login"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/login"><i class="fab fa-linkedin-in"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- INDEX1 TEAMS SECTION END HERE -->
<!-- TESTIMONIAL SECTION SATRT HERE -->
<section class="index1-testimonial-section w-100 float-left padding-top padding-bottom white-bg">
    <div class="container">
        <div class="index1-testimonial-inner-con" data-aos="fade-up" data-aos-duration="700">
            <div class="index1-testimonial-left-con generic-title mb-0">
                <span>Testimonials</span>
                <h2>
                    Over 3 Million Happy
                    Clients Trusted us in
                    The World
                </h2>
            </div>
            <div class="index1-testimonial-right-con">
                <div class="owl-carousel owl-theme" id="owl-carouseltestimonial">
                    <div class="item">
                        <div class="index1-testimonial-slide">
                            <figure>
                                <img src="/images/quote-img.png" alt="quote-img">
                            </figure>
                            <p>
                                "CargoX is a game-changer! Their transparent communication and efficient tracking system kept me informed every step of the way. The customer support was also fantastic, always helpful and responsive. I'm truly impressed!"
                            </p>
                            <div class="index1-reviewer-detail">
                                <figure class="mb-0">
                                    <img src="/images/index1-reviewer-img.png" alt="index1-reviewer-img">
                                </figure>
                                <div class="index1-reviewer-con">
                                    <span>John Carter</span>
                                    <small>San Francisco, CA</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="index1-testimonial-slide">
                            <figure>
                                <img src="/images/quote-img.png" alt="quote-img">
                            </figure>
                            <p>
                                "I never thought shipping internationally could be so hassle-free! CargoX took care of all the complexities, ensuring my shipment arrived safely and securely. Their professionalism and expertise are truly top-notch."
                            </p>
                            <div class="index1-reviewer-detail">
                                <figure class="mb-0">
                                    <img src="/images/index1-reviewer-img.png" alt="index1-reviewer-img">
                                </figure>
                                <div class="index1-reviewer-con">
                                    <span>Sophie Moore</span>
                                    <small>New York, NY</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="index1-testimonial-slide">
                            <figure>
                                <img src="/images/quote-img.png" alt="quote-img">
                            </figure>
                            <p>
                                "CargoX is my go-to logistics partner now. They consistently deliver on their promises. My recent import was handled flawlessly, with clear documentation and efficient customs clearance. Makes a world of difference!"
                            </p>
                            <div class="index1-reviewer-detail">
                                <figure class="mb-0">
                                    <img src="/images/index1-reviewer-img.png" alt="index1-reviewer-img">
                                </figure>
                                <div class="index1-reviewer-con">
                                    <span>Matt Cannon</span>
                                    <small>London, UK</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn-wrap">
                    <button class="prev-btn"><i class="fas fa-arrow-left"></i></button>
                    <button class="next-btn"><i class="fas fa-arrow-right"></i></button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- TESTIMONIAL SECTION start HERE -->
<!-- INDEX1 FORM SECTION END HERE -->
<!--BANNER QUOTE HERE ="index1-form-main-section w-100 float-left padding-top padding-bottom light-bg" ="container" class="generic-title text-center" data-aos="fade-up" data-aos-duration="700"-->
<section>
    <div class="roww">
        <h1>Ready to pull a trigger? Get a quote today.</h1>
        
        <button class="button button5">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Quote</a>
        </button>

    </div>
</section>
<!-- SECTION END HERE -->