@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

@* <h1>@ViewData["Title"]</h1> *@
<link href="~/css/LoginForm.css" rel="stylesheet" />

<div class="wrapper">
    <div class="login-box">
        <section>
            <form id="account" method="post">
                @* Header *@
                <div class="login-header">
                    <span>Login</span>
                </div>

                

                @* User Name *@
                <div class="input-box">
                    <input asp-for="Input.Email" id="user" class="form-control input-field" autocomplete="username" aria-required="true">
                    <label asp-for="Input.Email" class="label" for="user">Email</label>
                    <i asp-validation-for="Input.Email" class="bx bx-user icon"></i>
                    @* <i class="bx bx-user icon"></i> *@
                </div>

                @*Password*@
                <div class="input-box">
                    <input asp-for="Input.Password" id="pass" class="form-control input-field" autocomplete="current-password" aria-required="true" />
                    <label asp-for="Input.Password" for="pass" class="label">Password</label>
                    <i asp-validation-for="Input.Password" class="bx bx-lock-alt icon"></i>
                </div>

                @*Remember and forgot password*@
                <div class="remember-forgot">
                    <div class="remember-me">
                        <input id="remember" type="checkbox" asp-for="Input.RememberMe" />
                        <label asp-for="Input.RememberMe" for="remember">
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>

                    <div class="forgot">
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot Password</a>
                    </div>
                </div>

                @*Submit*@

                <div class="input-box">
                    <button id="login-submit" type="submit" class="input-submit">Login</button>
                </div>

                @*Other*@
                <div class="register">
                    <p>
                        Don't haven't an account?
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </div>
            </form>
        </section>

    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
